* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.mx-auto {
  margin: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.hero-item-btn {
  margin: 10px;
  padding: 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.hero-item-btn:hover {
  background: #ededed;
  color: #000;
  box-shadow: 0 1px 7px 4px #000;
}
.hero-item {
  margin: 30px;
}